/* Estilo general */

*
{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body
{
    background-color: cadetblue;
    position: absolute;

}

div
{
    display: inline-block;
    border: solid 1px;
    background-color: #c8b990;
    height: 25vh;
    width: 25vh;
}

.news-papper
{
    width: 120vh;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: auto;
}

