/* General */
*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

.content
{
    background-image: url(background.jpg) ;
    border: solid 1px ;
    width: 50%;
    height: 120vh;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

p
{
    display: inline-block;
    font-size: x-small;
    text-align: center;
}

ul
{
    
    font-size: x-small;
    text-align: center;
}

li
{
    margin-left: 20px;
    width: 70%;
    font-size: x-small;
    text-align: center;
}

/* seccion 1 */

.sec1
{
    border: none;
    width: 46.5%;
    height: 47%;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;
}

.sec1_col1
{
    border: solid 0.5px;
    width: 49%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

}


.sec1_col1-img
{
    width: 100%;
    height: 33.3%;
}

.sec1_col1 p
{
    font-size: 8.5px;
    text-align: justify;
    width: 88%;
    margin-left: 9px;
}

.sec1_col1 p b
{
    position: relative;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    left: 0;
    margin-bottom: 12px;
}


p b
{
    display: inline-block;
    font-size: x-large;
    position: relative;
    top: 1.5vh;
    left: 1.5vh;
}

.sec1_pesp0
{
    position: relative;
    top: 8px;
}

.sec1_pesp1 
{
    margin-left: 1vh;
    margin-bottom: 10px;
    font-weight: 800;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    margin-top: 14px;
    text-align: center;
    position: relative;
    left: 4vh;
}

.sec1_pesp2
{
    margin-left: 1vh;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    font-size: 8px;
    position: relative;
    top: -4px;
}


.sec1_col2
{
    border: solid 0.5px;
    width: 49%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.sec1_col2-img
{
    width: 100%;
    height: 65%;
}

/* seccion 2 */

.sec2
{
    border: solid 2px;
    width: 46%;
    height: 46.5%;
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    border-style: double;
}

.sec2_title
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 9vh;
    font-weight: 600;
    text-align: center;
}

.sec2_subtitle
{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    font-weight: 600;
}

.sec2_desc
{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    text-align: center;
    font-weight: 600;
    font-style: oblique;
}

.sec2_par1
{
    width: 40%;
    margin: 3vh;
    margin-top: 1vh;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: xx-small;
    text-align: justify;
}
.sec2_par1 b
{
    margin-left: -1.5vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: xx-small;
    text-align: left;
}

.sec2_par2-img
{
    display: inline-block;
    position: relative;
    top: 15vh;
    left: -18.5vh;
    right: 0;
    margin: auto;
}

.sec2_par2 
{
    width: 40%;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: xx-small;
    text-align: justify;
    position: absolute;
    top: 18vh;
    right: 4vh;
}

.sec2_par3
{
    width: 85%;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 8.5px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    position: absolute;
    top: 49vh;
    right: 4vh;
}

.sec2_footer
{
    font-size: 7.5px;
    position: absolute;
    top: 54vh;
    right: 4vh;
}

/* seccion 3 */

.sec3
{
    border: none;
    width: 45.5%;
    height: 70%;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
}

.sec3_par1
{
    width: 48%;
    max-height: 80%;
    margin: 1%;
    margin-top: 0;
    font-size: 8.5px;
    text-align: justify;
}

.sec3_par1 b
{
    font-size: 8.5px;
    margin-bottom: 2vh;
    width: 92%;
    display: block;
}

.sec3_ul
{
    font-size: 8.5px;
    width: 62%;
    height: 2%;
}

.par-li
{
    width: 44%;
    position: absolute;
    right: 0;
    top: 9px;
    text-align: justify;
}


.sec3_ul li
{
    font-size: 8.5px;
    text-align: justify;
}

.sec3_ul-li3
{
    width: 44%;
    position: absolute;
    right: 0;
    top: 19vh;
}

.sec3_ul-li4
{
    width: 44%;
    position: absolute;
    right: 0;
    top: 43vh;
}



/* seccion 4 */

.sec4
{
    border: none;
    width: 46.5%;
    height: 22%;
    display: inline-block;
    position: absolute;
    right: 19px;
    bottom: 19px;
}

.sec4_img
{
    width: 100%;
    height: 100%;
}